@use "../base/" as *;

.section {
  &-sellers {
    padding: 40px 0 40px;
    .list-products {
      @include flex($justify: space-between, $gap: 20px);
    }
    .section {
      &-title {
        font-size: $size-medium;
        line-height: 31px;
        color: $color-a-black;
        font-weight: $font-medium;
      }
      &-subtitle {
        font-size: $size-large;
        line-height: 36px;
        color: $color-primary;
        padding-left: 8px;
        font-weight: $font-bold;
      }
    }
  }
}

.section {
  &-products {
    padding: 60px 0;
    @media screen and (max-width: $md) {
      padding: 30px 0 40px;
    }
  }
  &-header {
    @include flex($direction: row, $justify: space-between, $align: center);
    margin-bottom: 28px;
    @media screen and (max-width: $md) {
      margin-bottom: 20px;
    }
  }
  &-body {
    @media screen and (max-width: $md) {
      margin-bottom: 16px;
    }
  }
  &-text {
    h2 {
      font-size: $size-large;
      font-weight: $font-bold;
      line-height: 36px;
      color: $color-primary;
      @media screen and (max-width: $sm) {
        font-size: $size-regular;
        line-height: 32px;
      }
    }
    p {
      font-size: $size-medium;
      font-weight: $font-medium;
      line-height: 24px;
      color: $color-a-black;
      @media screen and (max-width: $sm) {
        font-size: $size-small;
        line-height: 20px;
      }
    }
  }

  &-footer {
    width: 100%;
    .btn-flex {
      width: auto;
      text-align: center;
      justify-content: center;
      font-size: $size-medium;
      line-height: 24px;
    }
  }
}
