@use '../base/' as *;

.section-cart {
  padding: 100px 0;
}

.section-cart .wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
}

.cart-table {
  width: 70%;
  border-collapse: collapse;
  margin-bottom: 1px;
}

.cart-header th {
  background-color: #fef4e8;
  padding: 20px;
  text-align: left;
  font-weight: 600;
  border-bottom: 1px solid #ddd;
}

.cart-body td {
  padding: 16px;
  vertical-align: middle;
  border-bottom: 1px solid #eee;
}

.cart-img {
  width: 10%;
  height: auto;
  border-radius: 8px;
  img {
    width: 100%;
    border-radius: 4px;
  }
}
.cart-summary {
  width: 28%;
  background-color: #fef4e8;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
}
.cart-title {
  padding-bottom: 20px;
  color: $color-primary;
}

.cart-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}

.cart-detail {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;

  .btn-icon {
    width: 32px;
    height: 32px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
  }
}
.quantity-control {
  .input-wrapper {
    flex: 1;
    width: 11%;
  }
  .input-square {
    width: 100%;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 0;
  }
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  font-weight: bold;
}
