@use '../base/' as *;

.section-detail {
  padding: 70px 0;

  .wrapper {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 40px;
    border-radius: 40px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .section-image {
    width: 50%;
    height: auto;
    img {
      width: 100%;
      border-radius: 40px;
    }
  }

  .section-text {
    padding: 20px 30px;
  }

  .section-title {
    padding-bottom: 15px;
    color: $color-dark-grey;
    font-size: $size-larger;
  }

  .section-subtitle {
    padding-bottom: 10px;
    color: $color-primary;
    font-size: $size-regular;
    font-weight: $font-bold;
  }

  .section-action {
    padding-bottom: 20px;
    p {
      color: $color-a-white;
    }
  }
  .info {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}
