@use "../base/" as *;

//Container
.container {
  max-width: 1212px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

// Row, Col

.row {
  display: flex;
  gap: $gap;
  flex-wrap: wrap;
  @media (max-width: $md) {
    gap: $gap-mobile;
  }
}

@for $i from 1 through $columns {
  .col-#{$i} {
    width: calc((100% - (12 / $i - 1) * $gap-mobile) / (12 / $i));
  }
}

// Breakpoints
@media screen and (min-width: $sm) {
  @for $i from 1 through $columns {
    .col-sm-#{$i} {
      width: calc((100% - (12 / $i - 1) * $gap) / (12 / $i));
    }
  }
}

@media screen and (min-width: $md) {
  @for $i from 1 through $columns {
    .col-md-#{$i} {
      width: calc((100% - (12 / $i - 1) * $gap) / (12 / $i));
    }
  }
}
